@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');


header{
    position: fixed;
    width: 100%;;
    top:0;
    z-index: 2;
  }


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(40, 150, 126);

}


.title{
    float: left;
    color: black;
    font-size: 60px;
    margin-top: auto;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 50px;
    cursor:default;
  }

   .topnav{
    background-color:rgba(255,255,255,0.7);
    overflow:hidden;
    margin-top: 10px;
    border-radius: 50px;
    margin-top: 10px;
   }
  
  .topnav a{
    float: right;
    color: black;
    text-align: center;
    padding: 7.5px 100px;
    text-decoration: none;
    font-size: 45px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
   
  }
  
   .topnav a:hover{
    color:grey;
   }


  p{
    margin-top: 80px;
    background-color:white ;
    border-radius:20px ;
  }

  .sassetta{
    margin-top: 2%;
  }
   #header_sassetta{
    float: left;
    padding:10px;

   }

   #sassetta{
    padding:10px;
    margin-top: 5%;
   }





   #header_trekking{
    
    padding: 20px;
    margin-top: 10%;
   }
   #trekking{
    padding: 10px;
    margin-top: -5px;
    
   }




   #header_campiglia{
    padding: 10px;
    margin-top: 10%;
   }

   #campiglia{
    padding:10px;
    margin-top: -5px;
    
   }
  

   

   .view_sassetta{
    width: 400px;
    height: 350px;
    float: right;
    border-radius: 40px;
    padding: 10px;

   }

   .forest_image{
    width: 400px;
    height: 350px;
    float: left;
    border-radius: 40px;
    padding: 10px;
   }

   .campiglia{
   width: 300px;
   height: 225px;
   border-radius: 20px;
   padding: 10px;
   margin-left: 10px;
}

.images-campiglia{
  text-align: center;
}


.map_campiglia{
  border-radius: 20px;
  width: 270px;
  margin-top: 0px;
  height: 230px;
}


#bosco_image{
  border-radius: 20px;
  width: 300px;
  margin-top: 0px;
  padding: 10px;
  margin-left: 40px;
  height: 230px;
}

#vista_image{
  border-radius: 20px;
  width: 300px;
  margin-top: 0px;
  padding: 10px;
  margin-left: 10px;
  height: 230px;
}

#vista_2_image{
  border-radius: 20px;
  width: 300px;
  margin-top: 0px;
  padding: 10px;
  margin-left: 10px;
  height: 230px;
}

#map_image{
  border-radius: 20px;
  width: 300px;
  margin-top: 0px;
  padding: 10px;
  margin-left: 10px;
  height: 230px;
}