@media screen and (min-width: 2560) {



}

@media screen and (max-width: 1600px){

    .room-image1{
        position: relative;
        text-align: center;
        margin-left: 120px;
    }

  
}



@media screen and (max-width: 800px) {

.title{
    position: relative;
    text-align: center;
}
.topnav{
     display: none;
    
    
 }

.text-container{
    padding: 20px;
}
.text{
    margin-left:80px ;
}
p{
    padding: 20px;
}
.room-image1{
    position: relative;
    text-align: center;
    margin-left: -120px;
}
  footer{
        text-align: center
     }

}

@media screen and (min-width: 800px) {
    footer{
        display: none;
        

     }
}
