@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px){


}



@media screen and (max-width: 430px) {


.topnav{
    width: 50%;
    
    
 }

#about{
    margin-top: 300px;
}
#rooms{
    display: none;
}

}
.icon{
    float:center;
    padding:10px;
    
    
 }

 footer{
    display: none;
 }
