@media screen and (min-width: 2560) {
   

}

@media screen and (max-width: 1200px){


}



@media screen and (max-width: 430px) {

.title{
    position: relative;
    text-align: center;
}
.topnav{
     display: none;
    
    
 }
 h3{
    color: white;
    float: left;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 30px;
}
.about{
    margin-top: 300px;
    color: white;
    border-radius: 20px;
}

p{
    display: none;
}
#rooms{
    width: 70%;
    margin-left: 50px;
}

.contact-info-container{
    text-align:center;
    margin: -10px;
    display:flex;

 }


 .email-info{
    float: right;
 }
 footer{
    display: none;
 }
}