@media screen and (min-width: 2560) {

}

@media screen and (max-width: 1750px){
    header{
        margin-top: -100px;
    }
    .room-image1{
        margin-left: 100px;
        max-width: 600px;
        padding:-20px;
    }

}



@media screen and (max-width: 1270px) {
    .title{
        position: fixed;
        text-align: center;
        margin-top: 40px;
    }
    .topnav{
         display: none;
     }
    
    .text-container{
        padding: 20px;
    }
    .text{
        margin-left:0px ;
    }
    p{
        padding: 20px;
    }
    .room-image1{
        margin-left: -30px;
    }
    
     footer{
        display: none;
     }

}
