@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
header{
  position: fixed;
  width: 100%;;
}


*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family:arial;
  }
  body{
    background-color:rgb(205,186,160); 
    font-family:'Poppins', sans-serif; 
    margin:0; 
    background-size: cover;
  }


  header{
    z-index: 3;
    margin-top: -100px;
  }
  
  

  .title{
    float: left;
    color: white;
    font-size: 61px;
    margin-top: auto;
    padding:10px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 50px;
    cursor:default;
  }
  
  .topnav{
    background-color:rgba(255,255,255,0.7);
    overflow:hidden;
    padding:10px;
    border-radius: 50px;
  }
  
  .topnav a{
    float: right;
    color: black;
    text-align: center;
    padding: 1.7px 100px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
   .topnav a:hover{
    
    color:grey;
   
   }

.banner{
  color: white;
}

.container_images{
  padding: 50px;
}

.container_text{
color: black;
margin-top:80px;
padding: 50px;
}

.room-image1{
  width: 440px;
  border-radius: 50px;
  height: 400px;
  padding: 40px;
  
}

.banner{
  color:black;
}

p{
  background-color: white;
  border-radius: 10px;
  opacity: 70%;
}

h2{
color: white
}

h3{
color: white
}