
header{
    position: fixed;
    width: 100%;;
    top:0;
    z-index: 2;
  }


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(sassetta.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.title{
    float: left;
    color: #ffffff;
    background-color: black;
    font-size: 65px;
    margin-top: auto;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  
  }

.topnav{
    background-color:#d0955e ;
    overflow:hidden;
    margin-top: auto;
  }
  
  .topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 17.5px 100px;
    text-decoration: none;
    font-size: 43px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
   .topnav a:hover{
    
    color:black;
   }