@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
header{
  position: fixed;
  width: 100%;;
  top:0;
  z-index: 2;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(drago_letto_finestra.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
  float: left;
  color: #ffffff;
  background-color: #d0955e;
  font-size: 74.5px;
  margin-top: auto;
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  font-style: normal;

}

.topnav{
  background-color:#d0955e ;
  overflow:hidden;
  margin-top: auto;
}

.topnav a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 17.5px 100px;
  text-decoration: none;
  font-size: 43px;
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  font-style: normal;
}

 .topnav a:hover{
  
  color:black;
 }


 .text-container{
  color: #ffffff;
  margin-top: 60px;
  padding: 50px;
  
 }



 .container_images{
  padding: 50px;
 }

 .room-image1{
  width: 360px;
  border-radius: 50px;
  height: 290px;
  padding: 10px;
}


 