@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px){

    #rooms {
        width: 120vh;
        
    }
    .front_images{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
}



@media screen and (max-width: 600px) {

}