@media screen and (max-width: 1400px) {
    #rooms {
        width: 150vh;
        
    }
    img{
        width: 250px;
        height: 275px;
        margin: 0 auto 2rem;
    }
}

@media screen and (max-width: 1200px){


}



@media screen and (max-width: 600px) {
 
}