@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
header{
  position: fixed;
  width: 100%;;
}


*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family:arial;
  }
  body{
    background:#ecf0f1; 
    font-family:'Poppins', sans-serif; 
    margin:0; 
    color:#888;
    background-image: url(la_rustica_cucina_2.jpeg);
    background-size: cover;
  }


  
  
  
  .title{
    float: left;
    color: #ffffff;
    background-color: #d0955e;
    font-size: 42px;
    margin-top: auto;
    padding:10px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  
  }
  
  .topnav{
    background-color:#d0955e ;
    overflow:hidden;
    padding:10px;

  }
  
  .topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 3.7px 100px;
    text-decoration: none;
    font-size: 20.5px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
   .topnav a:hover{
    
    color:black;
   
   }




.container_text{
color: white;
margin-top:80px;
}

.room-image1{
  width: 500px;
  border-radius: 50px;
  height: 350px;
}


/** Buttons display**/
/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
  position: center;
  
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  
}

.cta:hover svg {
  transform: translateX(0);
 
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}
a{
  text-decoration: none;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
 

}

/** Buttons display**/
/* From Uiverse.io by alexmaracinaru */ 